<!DOCTYPE html>
<html>
	<body>
		<h2>Toolshed</h2>
    	<strong>Toolshed name: </strong>{{ toolshed.name }}</br>
            {% for tool in toolshed.tools %}
            	<strong>Tool name: </strong>{{ tool.name }}</br>
			{% endfor %}
		<strong>Add Tool:</strong><br>
		<form action="{{ toolshed.id }}/add-tool">
		  Tool Name:<br>
		  <input type="text" name="name">
		  <br>
		  Read Type Taken:<br>
		  <input type="text" name="read_type">
		  <br><br>
		  <input type="submit" value="Submit">
		</form> 
        </br></br>
	</body>
</html>