<!DOCTYPE html>
<html>
	<body>
		<h2>Login</h2>
		<form action="login-user">
		  Username:<br>
		  <input type="text" name="username">
		  <br>
		  Password:<br>
		  <input type="password" name="password">
		  <br><br>
		  <input type="submit" value="Submit">
		</form> 
		<br><br>
		<h2>Sign Up</h2>
		<form action="create-user">
		  Username:<br>
		  <input type="text" name="username">
		  <br>
		  First Name:<br>
		  <input type="text" name="firstname">
		  <br>
		  Last Name:<br>
		  <input type="text" name="lastname">
		  <br>
		  Email:<br>
		  <input type="text" name="email">
		  <br>
		  Password:<br>
		  <input type="password" name="password">
		  <br><br>
		  <input type="submit" value="Submit">
		</form> 
	</body>
</html>