<!DOCTYPE html>
<html>
	<body>
		<h2>Plant</h2>
        	<strong>Plant name: </strong>{{ plant.name }}</br>
        	<strong>Owner: </strong>{{ plant.user.user_name }}</br>
        	<strong>Planted on: </strong>{{ plant.ts_start }}</br>
            </br>

            <h2>Recent Readings</h2>
				{% for reading in plant.recent_readings %}
		        	<span style="background-color: {{ reading.read_type.color  }}"><strong>Read Type: </strong>{{ reading.read_type.name }}</span></br>
		        	<strong>Value: </strong>{{ reading.value }}</br>
		        	<strong>Taken on: </strong>{{ reading.ts_reading_taken }}</br>
		        	<strong>Taken with: </strong>{{ reading.tool_used }}</br>
				{% endfor %}
			</br>
        	<strong>Take Reading</strong>
        	<form action="/notebook/{{ plant.id }}/reading/add">
			  Read Type:<br>
			  <input type="text" name="read_type">
			  <br>
			  Value:<br>
			  <input type="text" name="value">
			  <br>
			  Tool Used:<br>
		      <input type="text" name="tool">
			  <br><br>
			  <input type="submit" value="Submit">
			</form> 
            </br>
	</body>
</html>