<!DOCTYPE html>
<html>
	<body>
		<h2>Plants</h2>
		{% for plant in plants %}
        	<strong>Plant name: </strong>{{ plant.name }}</br>
        	<strong>Owner: </strong>{{ plant.user.user_name }}</br>
        	<strong>Planted on: </strong>{{ plant.ts_start }}</br>
            </br>
		{% endfor %}

		<h3>Add Plant</h3>
		<form action="/plant/add">
		  Plant Name:<br>
		  <input type="text" name="name">
		  <br>
		  Planted On:<br>
		  <input type="datetime-local" name="planted_on">
		  <br><br>
		  <input type="submit" value="Submit">
		</form> 
	</body>
</html>